@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.deck {
  background: #273258;;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  width: 300px;
  height: 200px;
  margin-left: 80px;
  margin-top: 8px;
  border-radius: 8px;
  box-shadow: 2px 1px 1px rgb(209, 209, 209);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deck-title {
  width: 90%;
  color: white;
}

.add-cards-button {
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  color:white;
  width: 30%;
}

.edit-deck {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.edit-deck-name {
  width: 90%;
}

.remove-deck-button {
  cursor: pointer;
  color: white;
}

.view-deck-button {
  cursor: pointer;
  color: white;
}

.deck-buttons {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
